body {
  background-color: $default;
}

p, ul, ol, li, table {
  color: $p-color;
  
  b {
    color: $header-color;
  }

  a:not(.btn) {
    color: $header-color;
    text-decoration: underline;
  }
}

table {
  th {
    color: $header-color;
  }
}

.btn-icon.btn-sm {
  padding: 0 0.25rem;

  i {
    font-size: 1.5rem;
    margin-top: 2px;
  }
}

.width-limit-1200 {
  max-width: $width-limit;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  position: fixed;
  height: $nav-height;
  top: 0;
  left: 0;
  width: 100%;
  padding: (($nav-height - 31px - 1px) / 2) 0;
  background-color: rgba(255,255,255,0.85);
  border-bottom: 1px solid #999;
  z-index: 10000;

  .logo {
    float: left;

    a {
      padding-left: $logo-height + ($nav-height - $logo-height) / 2;
      color: $header-color;
      text-decoration: none;
      line-height: 31px;

      .logo-img {
        display: block;
        height: $logo-height;
        width: $logo-height;
        background-image: url(/image/logo.png);
        background-size: 100% 100%;
        display: block;
        position: absolute;
        top: ($nav-height - $logo-height) / 2;
      }
    }
  }

  .menu {
    float: right;

    a.btn {
      min-width: 31px;
    }
  }
}

header {
  padding-top: calc(#{$nav-height * 1.5} + 5%);
  padding-bottom: calc(#{$nav-height * 0.5} + 5%);

  .title {
    color: $header-color;

    h1 {
      margin: 0;
    }
  }
}

article.container-fluid {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 0;
  padding-right: 0;

  section {
    padding: 1rem 15px;
    
    ul, ol {
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
      }
    }

    table {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;

      th, td {
        padding: 0.25rem 0.5rem;
        border: 1px solid $header-color;
      }
    }

    table.table-list {
      th, td {
        border: none;
        vertical-align: top;
      }

      td:first-child {
        width: 5rem;
        color: $header-color;
      }
    }
  }
}

footer {
  padding-top: $nav-height / 2;
  padding-bottom: $nav-height / 2;

  .subscribe {
    padding-bottom: $nav-height / 2;
    justify-content: center;
  
    .row > div {
      padding-top: 16px;
      padding-bottom: 16px;
      max-width: $width-limit / 3;
    }
  }

  .social .btn {
    width: 42px;
  }

  a.btn-link {
    color: $p-color;
  }
}
