extends ../templates/default

block var
  - var pagetitle = '錄取名單'

block contents
  section.width-limit-1200
    h2 錄取名單

    h3 第一梯錄取名單
    p 約四月中旬公布。
  
    h3 第二梯錄取名單
    p 約五月中旬公布。
  
    h3 第三梯錄取名單
    p 約六月中旬公布。

    hr
  
  section.width-limit-1200
    h2 媽！我錄取了！接下來？
    p 錄取名單公布後，請於#[b 一個禮拜內，匯款繳費，並寄出家長同意書]。請前往#[a(href="/enrollment/") 報名方式]瞭解如何繳費。
