extends ../templates/default

block var
  - var pagetitle = '錄取及完成報名名單'

block styles
  style.
    .list-style-none {
      list-style: none;
      padding: 0;
      padding-left: 0 !important;
      margin: 0 !important;
    }

    .list-style-none li {
      padding: 0;
    }
  
block contents
  section.width-limit-1200
    h2 營前通知書已寄出
    p 我們已經將#[a(href='/src/file/2018清大工程領袖營行前通知書.pdf', target='_blank') 營前通知書]寄給各位了，請於近日查收。並提醒您，請於#[b 6/30（六）前完成填寫#[a(href="https://goo.gl/LdfSF3", target='_blank') 「隊員交通事項表單」]]，讓我們了解您前來的交通方式。

  section.width-limit-1200
    h2 最終名單
    p 姓名之後的後三碼為您的手機號碼後三碼。若您已經完成報名卻沒看到自己的名字，請盡速#[a(href="/contact_us/") 與我們聯繫]。

    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 曾○暄（719）
      li.col-6.col-md-4.col-lg-3 蕭○雅（921）
      li.col-6.col-md-4.col-lg-3 王○禾（809）
      li.col-6.col-md-4.col-lg-3 黃○涵（178）
      li.col-6.col-md-4.col-lg-3 趙○晨（716）
      li.col-6.col-md-4.col-lg-3 王○旭（523）
      li.col-6.col-md-4.col-lg-3 廖○鈞（939）
      li.col-6.col-md-4.col-lg-3 孔○詞（877）
      li.col-6.col-md-4.col-lg-3 林○穎（257）
      li.col-6.col-md-4.col-lg-3 陳○萱（227）
      li.col-6.col-md-4.col-lg-3 楊○茵（074）
      li.col-6.col-md-4.col-lg-3 蔡○柔（771）
      li.col-6.col-md-4.col-lg-3 李○瑄（323）
      li.col-6.col-md-4.col-lg-3 張○薇（361）
      li.col-6.col-md-4.col-lg-3 謝○宇（949）
      li.col-6.col-md-4.col-lg-3 吳○嘉（762）
      li.col-6.col-md-4.col-lg-3 周○遠（086）
      li.col-6.col-md-4.col-lg-3 李○諺（975）
      li.col-6.col-md-4.col-lg-3 陳○安（975）
      li.col-6.col-md-4.col-lg-3 石○巧（828）
      li.col-6.col-md-4.col-lg-3 李○栓（009）
      li.col-6.col-md-4.col-lg-3 吳○彤（519）
      li.col-6.col-md-4.col-lg-3 馬○瑄（538）
      li.col-6.col-md-4.col-lg-3 葉○瑄（067）
      li.col-6.col-md-4.col-lg-3 潘○昀（601）
      li.col-6.col-md-4.col-lg-3 李○峰（582）
      li.col-6.col-md-4.col-lg-3 石○揚（943）
      li.col-6.col-md-4.col-lg-3 廖○皓（706）
      li.col-6.col-md-4.col-lg-3 薛○毅（416）
      li.col-6.col-md-4.col-lg-3 陳○維（719）
      li.col-6.col-md-4.col-lg-3 陳○安（616）
      li.col-6.col-md-4.col-lg-3 陳○均（150）
      li.col-6.col-md-4.col-lg-3 曾○宸（880）
      li.col-6.col-md-4.col-lg-3 洪○媛（421）
      li.col-6.col-md-4.col-lg-3 蔡○恩（184）
      li.col-6.col-md-4.col-lg-3 曹○駿（660）
      li.col-6.col-md-4.col-lg-3 朱○槿（085）
      li.col-6.col-md-4.col-lg-3 蔡○芳（499）
      li.col-6.col-md-4.col-lg-3 蔡○君（607）
      li.col-6.col-md-4.col-lg-3 張○恩（154）
      li.col-6.col-md-4.col-lg-3 謝○冠（256）
      li.col-6.col-md-4.col-lg-3 徐○隆（806）
      li.col-6.col-md-4.col-lg-3 梁○智（181）
      li.col-6.col-md-4.col-lg-3 林○廷（616）
      li.col-6.col-md-4.col-lg-3 唐○（766）
      li.col-6.col-md-4.col-lg-3 楊○姍（915）
      li.col-6.col-md-4.col-lg-3 姚○薰（722）
      li.col-6.col-md-4.col-lg-3 張○茹（205）
      li.col-6.col-md-4.col-lg-3 陳○蓁（316）
      li.col-6.col-md-4.col-lg-3 丁○展（100）
      li.col-6.col-md-4.col-lg-3 陳○廷（565）
      li.col-6.col-md-4.col-lg-3 陳○銓（560）
      li.col-6.col-md-4.col-lg-3 林○辰（185）
      li.col-6.col-md-4.col-lg-3 黃○詠（718）
      li.col-6.col-md-4.col-lg-3 梁○雯（802）
      li.col-6.col-md-4.col-lg-3 吳○旻（770）
      li.col-6.col-md-4.col-lg-3 魏○暘（152）
      li.col-6.col-md-4.col-lg-3 張○烜（780）
      li.col-6.col-md-4.col-lg-3 連○婷（860）
      li.col-6.col-md-4.col-lg-3 黃○聲（259）
      li.col-6.col-md-4.col-lg-3 陳○杰（308）
      li.col-6.col-md-4.col-lg-3 陳○均（821）
      li.col-6.col-md-4.col-lg-3 劉○誠（407）
      li.col-6.col-md-4.col-lg-3 劉○軒（355）
      li.col-6.col-md-4.col-lg-3 黃○庭（570）
      li.col-6.col-md-4.col-lg-3 李○諭（141）
      li.col-6.col-md-4.col-lg-3 許○瑄（776）
      li.col-6.col-md-4.col-lg-3 吳○育（180）
      li.col-6.col-md-4.col-lg-3 高○勝（207）
      li.col-6.col-md-4.col-lg-3 蕭○宇（057）
      li.col-6.col-md-4.col-lg-3 張○維（909）
    p
    
    h2 尚未繳交家長同意書
    p 以下兩位同學尚未繳交#[a(href="/enrollment/") 家長同意書]，請盡速繳交。

    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 戴○亘（517）
      li.col-6.col-md-4.col-lg-3 黃○郡（262）
    p

  section.width-limit-1200
    h2 需要幫助嗎？
    p 若有任何問題，歡迎#[a(href="/contact_us/") 與我們聯繫]！或是參考#[a(href="/faq/") 常見問題]。
