extends ../templates/default

block var
  - var pagetitle = '錄取名單'

block styles
  style.
    .list-style-none {
      list-style: none;
      padding: 0;
      padding-left: 0 !important;
      margin: 0 !important;
    }

    .list-style-none li {
      padding: 0;
    }
  

block contents
  section.width-limit-1200
    h2 第一階段候補
    h3 個人報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費5,000元]。

    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 林○辰（719）
      li.col-6.col-md-4.col-lg-3 張○輔（523）
      li.col-6.col-md-4.col-lg-3 許○惟（939）
      li.col-6.col-md-4.col-lg-3 黃○詠（877）
      li.col-6.col-md-4.col-lg-3 鄭○欣（257）
      li.col-6.col-md-4.col-lg-3 蔡○廷（494）
      li.col-6.col-md-4.col-lg-3 楊○諭（074）
      li.col-6.col-md-4.col-lg-3 魏○暘（361）
      li.col-6.col-md-4.col-lg-3 徐○媛（531）
      li.col-6.col-md-4.col-lg-3 戴○亘（014）
      li.col-6.col-md-4.col-lg-3 張○烜（762）
      li.col-6.col-md-4.col-lg-3 劉○慈（966）
      li.col-6.col-md-4.col-lg-3 蔡○彣（530）
      li.col-6.col-md-4.col-lg-3 黃○聲（975）
      li.col-6.col-md-4.col-lg-3 林○儒（975）
      li.col-6.col-md-4.col-lg-3 黃○聲（683）
      li.col-6.col-md-4.col-lg-3 蕭○凡（828）
      li.col-6.col-md-4.col-lg-3 劉○潔（009）
      li.col-6.col-md-4.col-lg-3 陳○杰（519）
      li.col-6.col-md-4.col-lg-3 陳○均（538）
    p
    h3 團體報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費4,700元]。
    
    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 江○芝（921）
      li.col-6.col-md-4.col-lg-3 陳○蓁（809）
      li.col-6.col-md-4.col-lg-3 黃○甄（178）
      li.col-6.col-md-4.col-lg-3 吳○茵（572）
      li.col-6.col-md-4.col-lg-3 周○儒（716）
      li.col-6.col-md-4.col-lg-3 陳○庭（999）
      li.col-6.col-md-4.col-lg-3 梁○雯（227）
      li.col-6.col-md-4.col-lg-3 林○恩（771）
      li.col-6.col-md-4.col-lg-3 陳○蓉（323）
      li.col-6.col-md-4.col-lg-3 吳○旻（596）
      li.col-6.col-md-4.col-lg-3 黃○茹（949）
      li.col-6.col-md-4.col-lg-3 連○婷（086）
    hr
    
  section.width-limit-1200
    h2 第一梯完成報名名單
    h3 個人報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費5,000元]。若您已經完成報名卻沒看到您的名字，請盡速#[a(href="/contact_us/") 與我們聯繫]。

    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 曾○暄（719）
      li.col-6.col-md-4.col-lg-3 蕭○雅（921）
      li.col-6.col-md-4.col-lg-3 王○禾（809）
      li.col-6.col-md-4.col-lg-3 黃○涵（178）
      li.col-6.col-md-4.col-lg-3 趙○晨（716）
      li.col-6.col-md-4.col-lg-3 王○旭（523）
      li.col-6.col-md-4.col-lg-3 陳○萱（227）
      li.col-6.col-md-4.col-lg-3 楊○茵（074）
      li.col-6.col-md-4.col-lg-3 蔡○柔（771）
      li.col-6.col-md-4.col-lg-3 李○瑄（323）
      li.col-6.col-md-4.col-lg-3 張○薇（361）
      li.col-6.col-md-4.col-lg-3 謝○宇（949）
      li.col-6.col-md-4.col-lg-3 李○諺（975）
      li.col-6.col-md-4.col-lg-3 石○巧（828）
      li.col-6.col-md-4.col-lg-3 李○栓（009）
      li.col-6.col-md-4.col-lg-3 馬○瑄（538）
      li.col-6.col-md-4.col-lg-3 葉○瑄（067）
      li.col-6.col-md-4.col-lg-3 潘○昀（601）
      li.col-6.col-md-4.col-lg-3 李○峰（582）
      li.col-6.col-md-4.col-lg-3 石○揚（943）
      li.col-6.col-md-4.col-lg-3 薛○毅（416）
      li.col-6.col-md-4.col-lg-3 陳○維（719）
      li.col-6.col-md-4.col-lg-3 陳○安（616）
      li.col-6.col-md-4.col-lg-3 陳○均（150）
      li.col-6.col-md-4.col-lg-3 曾○宸（880）
      li.col-6.col-md-4.col-lg-3 洪○媛（421）
      li.col-6.col-md-4.col-lg-3 蔡○恩（184）
      li.col-6.col-md-4.col-lg-3 朱○槿（085）
      li.col-6.col-md-4.col-lg-3 蔡○芳（499）
      li.col-6.col-md-4.col-lg-3 姚○薰（722）
      li.col-6.col-md-4.col-lg-3 張○茹（205）
      li.col-6.col-md-4.col-lg-3 陳○蓁（316）
      li.col-6.col-md-4.col-lg-3 丁○展（100）
      li.col-6.col-md-4.col-lg-3 陳○廷（565）
      li.col-6.col-md-4.col-lg-3 陳○銓（560）
    p
    h3 團體報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費4,700元]。若您已經完成報名卻沒看到您的名字，請盡速#[a(href="/contact_us/") 與我們聯繫]。
    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 廖○鈞（939）
      li.col-6.col-md-4.col-lg-3 孔○詞（877）
      li.col-6.col-md-4.col-lg-3 林○穎（257）
      li.col-6.col-md-4.col-lg-3 吳○嘉（762）
      li.col-6.col-md-4.col-lg-3 周○遠（086）
      li.col-6.col-md-4.col-lg-3 陳○安（975）
      li.col-6.col-md-4.col-lg-3 廖○宏（683）
      li.col-6.col-md-4.col-lg-3 曹○駿（660）
      li.col-6.col-md-4.col-lg-3 張○恩（154）
      li.col-6.col-md-4.col-lg-3 謝○冠（256）
      li.col-6.col-md-4.col-lg-3 徐○隆（806）
      li.col-6.col-md-4.col-lg-3 梁○智（181）
      li.col-6.col-md-4.col-lg-3 林○廷（616）
      li.col-6.col-md-4.col-lg-3 唐○（766）
      li.col-6.col-md-4.col-lg-3 楊○姍（915）

  section.width-limit-1200
    h2 第一梯錄取名單
    h3 個人報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費5,000元]。

    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 曾○暄（719）
      li.col-6.col-md-4.col-lg-3 蕭○雅（921）
      li.col-6.col-md-4.col-lg-3 王○禾（809）
      li.col-6.col-md-4.col-lg-3 黃○涵（178）
      li.col-6.col-md-4.col-lg-3 楊○庭（572）
      li.col-6.col-md-4.col-lg-3 趙○晨（716）
      li.col-6.col-md-4.col-lg-3 王○旭（523）
      li.col-6.col-md-4.col-lg-3 楊○琪（494）
      li.col-6.col-md-4.col-lg-3 張○蓁（999）
      li.col-6.col-md-4.col-lg-3 陳○萱（227）
      li.col-6.col-md-4.col-lg-3 楊○茵（074）
      li.col-6.col-md-4.col-lg-3 蔡○柔（771）
      li.col-6.col-md-4.col-lg-3 李○瑄（323）
      li.col-6.col-md-4.col-lg-3 許○瑜（596）
      li.col-6.col-md-4.col-lg-3 張○薇（361）
      li.col-6.col-md-4.col-lg-3 陳○茵（531）
      li.col-6.col-md-4.col-lg-3 謝○宇（949）
      li.col-6.col-md-4.col-lg-3 許○禎（014）
      li.col-6.col-md-4.col-lg-3 林○輝（966）
      li.col-6.col-md-4.col-lg-3 王○燁（530）
      li.col-6.col-md-4.col-lg-3 李○諺（975）
      li.col-6.col-md-4.col-lg-3 石○巧（828）
      li.col-6.col-md-4.col-lg-3 李○栓（009）
      li.col-6.col-md-4.col-lg-3 吳○彤（519）
      li.col-6.col-md-4.col-lg-3 馬○瑄（538）
      li.col-6.col-md-4.col-lg-3 林○融（355）
      li.col-6.col-md-4.col-lg-3 葉○瑄（067）
      li.col-6.col-md-4.col-lg-3 潘○昀（601）
      li.col-6.col-md-4.col-lg-3 李○峰（582）
      li.col-6.col-md-4.col-lg-3 石○揚（943）
      li.col-6.col-md-4.col-lg-3 廖○皓（706）
      li.col-6.col-md-4.col-lg-3 薛○毅（416）
      li.col-6.col-md-4.col-lg-3 陳○維（719）
      li.col-6.col-md-4.col-lg-3 陳○安（616）
      li.col-6.col-md-4.col-lg-3 林○佑（897）
      li.col-6.col-md-4.col-lg-3 謝○陵（307）
      li.col-6.col-md-4.col-lg-3 陳○均（150）
      li.col-6.col-md-4.col-lg-3 曾○宸（880）
      li.col-6.col-md-4.col-lg-3 洪○媛（421）
      li.col-6.col-md-4.col-lg-3 蔡○恩（184）
      li.col-6.col-md-4.col-lg-3 朱○槿（085）
      li.col-6.col-md-4.col-lg-3 蔡○芳（499）
      li.col-6.col-md-4.col-lg-3 蔡○君（607）
      li.col-6.col-md-4.col-lg-3 林○如（515）
      li.col-6.col-md-4.col-lg-3 陳○全（040）
      li.col-6.col-md-4.col-lg-3 楊○欣（845）
      li.col-6.col-md-4.col-lg-3 高○庭（455）
      li.col-6.col-md-4.col-lg-3 呂○軒（077）
      li.col-6.col-md-4.col-lg-3 羅○恩（383）
      li.col-6.col-md-4.col-lg-3 游○文（634）
      li.col-6.col-md-4.col-lg-3 卲○懷（566）
      li.col-6.col-md-4.col-lg-3 楊○姍（915）
      li.col-6.col-md-4.col-lg-3 朱○喬（683）
      li.col-6.col-md-4.col-lg-3 李○諺（393）
      li.col-6.col-md-4.col-lg-3 姚○薰（722）
      li.col-6.col-md-4.col-lg-3 馬○瑄（538）
      li.col-6.col-md-4.col-lg-3 張○茹（205）
      li.col-6.col-md-4.col-lg-3 陳○蓁（316）
      li.col-6.col-md-4.col-lg-3 陳○聿（143）
      li.col-6.col-md-4.col-lg-3 丁○展（113）
      li.col-6.col-md-4.col-lg-3 邱○（794）
      li.col-6.col-md-4.col-lg-3 陳○廷（565）
      li.col-6.col-md-4.col-lg-3 陳○宏（596）
      li.col-6.col-md-4.col-lg-3 陳○銓（560）
    p
    h3 團體報名同學
    p 數字為手機後三碼，以下同學應繳#[b 報名費4,700元]。
    ul.row.list-style-none
      li.col-6.col-md-4.col-lg-3 廖○鈞（939）
      li.col-6.col-md-4.col-lg-3 孔○詞（877）
      li.col-6.col-md-4.col-lg-3 林○穎（257）
      li.col-6.col-md-4.col-lg-3 吳○嘉（762）
      li.col-6.col-md-4.col-lg-3 周○遠（086）
      li.col-6.col-md-4.col-lg-3 陳○安（975）
      li.col-6.col-md-4.col-lg-3 廖○宏（683）
      li.col-6.col-md-4.col-lg-3 曹○駿（660）
      li.col-6.col-md-4.col-lg-3 張○恩（154）
      li.col-6.col-md-4.col-lg-3 謝○冠（256）
      li.col-6.col-md-4.col-lg-3 徐○隆（806）
      li.col-6.col-md-4.col-lg-3 傅○瑞（337）
      li.col-6.col-md-4.col-lg-3 梁○智（181）
      li.col-6.col-md-4.col-lg-3 吳○澔（991）
      li.col-6.col-md-4.col-lg-3 林○廷（616）
      li.col-6.col-md-4.col-lg-3 唐○（766）

    p
    h3 說明
    ol
      li 若您為團體報名者卻沒有被列在團體報名同學中，請詢問我們的粉絲專頁。
      li 若是已經報名卻沒有找到自己名字者，請等候備取。備取名單會於第一梯次繳費期限過後公布。
    hr
  

  section.width-limit-1200
    h2 第二梯、第三梯不續招
    p 因已招滿而不續招，感謝大家踴躍報名！
    hr
  

  section.width-limit-1200
    h2 媽！我錄取了！接下來？
    p 錄取名單公布後，請於#[b 5/20前，匯款繳費，並寄出家長同意書]。請前往#[a(href="/enrollment/") 報名方式]瞭解如何繳費。
    hr
  

  section.width-limit-1200
    h2 需要幫助嗎？
    p 若有任何問題，歡迎#[a(href="/contact_us/") 與我們聯繫]！或是參考#[a(href="/faq/") 常見問題]。
