extends ../templates/default

block var
  - var pagetitle = '聯絡我們'

block contents
  section.width-limit-1200
    h2 聯絡方式
    table.table-list
      tr
        td 粉絲專頁
        td
          a(href='https://www.facebook.com/2018ieemcamp/') FB: 2018清大工程領袖營
      tr
        td 電子郵件
        td
          a(href='mailto:2018ieemcamp@gmail.com') 2018ieemcamp@gmail.com
      tr
        td 信箱地址
        td
          | 國立清華大學工業工程營
          br
          | <address>30009 新竹郵局2-88號信箱</address>
    hr
  
  section.width-limit-1200
    h2 關於我們
    table.table-list
      tr
        td 主辦單位
        td
          a(href='http://www.ie.nthu.edu.tw/') 國立清華大學工業工程與工程管理學系
      tr
        td 營長
        td
          | 黃提道
          br
          | 電話：<a href="tel:0975-772-131">0975-772-131</a>
      tr
        td 副營長
        td
          | 陳昱錡
          br
          | 電話：<a href="tel:0975-629-756">0975-629-756</a>
