extends ../templates/default

block var
  - var pagetitle = '報名方式'

block contents
  section.width-limit-1200
    h2 營隊資訊
    table.table-list
      tr
        td 營隊時間
        td 2018/7/9(一)-7/14(六)
      tr
        td 活動地點
        td 國立清華大學，<a href="/transportation/">交通方式</a>
      tr
        td 報名費用
        td 新台幣5,000元，三人團報每人新台幣4,700元
      tr
        td 招生對象
        td 全國高中職生
      tr
        td 主辦單位
        td: a(href='http://www.ie.nthu.edu.tw/') 國立清華大學工業工程與工程管理學系
      tr
        td 報名期限
        td 2018/6/1前
      tr
        td 聯絡方式
        td 請參見<a href="/contact_us/">聯絡我們</a>
    hr

  section.width-limit-1200
    h2 報名流程
    ol
      li
        b 填寫報名表單：
        a.btn.btn-primary.btn-sm(href='https://goo.gl/forms/fNpvmeMVeflfjnlx2', target='_blank') 前往填寫
      li
        b 等待錄取結果：
        | 錄取名單將會分批在四、五、六月中旬分三梯次公告於官網與粉專。若您成功錄取，我們在公布錄取名單後會致電通知您。
        | <br>
        | #[b 請注意！]請在接到成功錄取電話後，再到#[a(href="/") 本網站]或是#[a(href="https://www.facebook.com/2018ieemcamp/") 粉絲專頁]再次確認錄取及匯款帳號，謹防詐騙！
      li
        b 繳費及寄出家長同意書：
        | 錄取後，即可開始匯款繳費，並寄出家長同意書。請於公布後
        b 一個禮拜內
        | 完成繳費，並寄出家長同意書。
      li
        b 匯款繳費
      ul
        li 匯款戶名：國立清華大學工業工程營鄭建澤
        li 匯款帳號：700-0061021-0556461
        li
          | 匯款完成後，請將參加者姓名、帳號後五碼、匯款時間、金額傳送簡訊至<a href="tel:0910-271-639">0910-271-639</a>確認繳費，或是寄信至
          a(href='mailto:2018ieemcamp@gmail.com') 2018ieemcamp@gmail.com
          | 確認繳費。您匯款成功後，我們會以電話、電子郵件通知您，但因為是人工確認，可能會產生一至二天的延遲，敬請見諒。
      li
        b 家長同意書
      ul
        li 下載家長同意書：
          a.btn.btn-primary.btn-sm(href='/src/file/家長同意書.pdf', target='_blank') 前往下載
        li 列印後請家長簽名，即可掃描圖檔以電子郵件寄信至
          a(href='mailto:2018ieemcamp@gmail.com') 2018ieemcamp@gmail.com
          | ，或是寄信至「30009 新竹郵局2-88號信箱」。
      li
        b 報名成功：
        | 報名成功後，我們會以電話、電子郵件或FB通知您。
      li
        b 營前通知：
        | 您將會於六月中收到營前通知信。如果有任何問題都可以#[a(href="/contact_us/") 與我們聯繫]，期待與您相見！
    hr
  
  section.width-limit-1200
    h2 退費方式
    p 因為營隊籌備時，已為個別隊員進行相當程度的支出，所以會按照離營期的時間長短斟酌進行退費。不便之處，敬請見諒。
    p 若遇到不可抗力或重大的因素導致營隊無法如期舉辦，清大工程領袖營將全額退款。
    table
      tr
        th 退費階段
        th 退費比例
      tr
        td 2018/5/1之前<wbr>或營隊停辦
        td 全額退費
      tr
        td 2018/5/1及之後
        td 退費九成
      tr
        td 2018/6/1及之後
        td 退費六成
      tr
        td 2018/7/1及之後
        td 退費三成
      tr
        td 2018/7/9及之後
        td 恕不退費
    ol
      li 若您無法參加，且能找到另外能來參與的同學，可以告知我們進行更換。這並不會收取任何手續費。
      li 退費金額為您實際匯款金額乘上比例。
      li 退費將會以ATM進行退款，我們會再和您聯絡以取得您的匯款帳戶。

    hr

  section.width-limit-1200
    h2 需要幫助嗎？
    p 若有任何問題，歡迎#[a(href="/contact_us/") 與我們聯繫]！或是參考#[a(href="/faq/") 常見問題]。
