extends ../templates/default

block var
  - var pagetitle = '常見問題'

block contents
  section.width-limit-1200
    h2 報名

    h4 請問什麼時候公布錄取名單呢？
    p 
      | 我們會於四月中旬、五月中旬及六月中旬分成三個階段公布錄取名單，若您錄取，我們會致電通知您。確認錄取後，請您依#[a(href="/enrollment/") 報名方式]中繳費方式完成後續動作即可。
      | <br>
      | #[b 請注意！]請在接到成功錄取電話後，再到#[a(href="/") 本網站]或是#[a(href="https://www.facebook.com/2018ieemcamp/") 粉絲專頁]再次確認錄取及匯款帳號，謹防詐騙！

    h4 請問清大工程領袖營屬於清大聯合營隊嗎？那要透過哪邊報名呢？
    p 是的！您可以選擇直接向我們報名，或是透過清大聯合營隊以志願序報名。但因為本營隊設有人數限制，在營隊人數超過人限時，將優先錄取直接報名者。

    hr

    h2 繳費

    h4 請問什麼時候要繳費呢？
    p 
      | 感謝您報名參加！
      | <br>
      | 請待我們公布#[a(href="/acceptance/") 錄取名單]後，若您成功錄取，再行繳費即可。

    h4 我繳費完後，為什麼還沒收到確認信？
    p 繳完費後，請將參加者姓名、帳號後五碼、匯款時間、金額傳送簡訊至<a href="tel:0910-271-639">0910-271-639</a>確認繳費。若您已經傳送簡訊了，卻還是沒有收到確認信，請稍待一至二天，因為我們是採人工確認入帳，敬請見諒。

    hr

    h2 營期

    h4 請問營隊有提供住宿嗎？
    p 營隊包含住宿，會住在校內的學生宿舍中。

    h4 請問會有行前通知嗎？
    p 有的！我們會在營期前兩周時以FB、電子郵件及郵件寄給您，敬請期待！

    hr

  section.width-limit-1200
    h2 需要幫助嗎？
    p 若有任何問題，歡迎#[a(href="/contact_us/") 與我們聯繫]！
