extends ../templates/base

block styles
  style
    include ../style/home.css
  style.
    .pic-1 {
      background-image: url("/src/image/IMG_4781.JPG");
    }
    .pic-2 {
      background-image: url("/src/image/IMG_1211.2x.png");
    }
    .pic-3 {
      background-image: url("/src/image/IMG_2684.2x.png");
    }
    .pic-4 {
      background-image: url("/src/image/IMG_2001.2x.png");
    }
    .pic-5 {
      background-image: url("/src/image/IMG_1415.2x.png");
    }

block header
  header.full.pic-1
    .title.container-fluid.width-limit-1200
      .header-box
        h2
          span 2018 7/9 - 7/14
        h1
          span 清大工程領袖營
      a(href="/acceptance/").msg-box.p-0.m-0 營前通知信已寄出！

block article
  article.container-fluid.m-0.p-0
    section.section-fluid.md-h-450
      .big-image-left.pic-2
      div
        h2 繼承者
        p
          span.badge.badge-primary #專案管理─阿喜法則
          span.badge.badge-primary #利害關係人法則
        p 你是富二代嗎？還是暴發戶？都不是嗎？別氣餒，因為小編也不是。不過，現在有一個很好的機會，「超有錢股份有限公司」的董事長打算退休了，他打算傳賢不傳子，任何人都能來徵選「繼承人」的位置。
        p 兼具智慧、心機、手段、企圖心的你，很有機會繼承老爺的霸業，「2018清大工程領袖營」隆重推出「繼承者」大型選拔活動，還在等什麼！領袖的位置，非你莫屬。
    section.section-fluid.md-h-450
      .big-image-right.pic-3
      div
        h2 產銷企劃
        p
          span.badge.badge-primary #供應鏈管理必學
          span.badge.badge-primary #決策
          span.badge.badge-primary #賺大錢
        p
          | 啤酒遊戲(Beer Game)是MIT的Sloan管理學院發展出來的
          b 模擬供應鍊的策略遊戲
          | ，模擬啤酒供應鏈的四種廠商：工廠、物流公司、大盤商、零售商，讓玩家體會現實生活的產銷供應鏈。
        p
          | 「產銷企劃」這款遊戲創立於「2017年清大工程領袖營」，遊戲策畫團隊以「啤酒遊戲」為原型，加以修改、創新，簡化複雜的理論、娛樂化整體的活動流程，讓玩家擔任製造商、中盤商、零售商的角色，體會「賺大錢的滋味」。
    section.section-fluid.md-h-450
      .big-image-left.pic-4
      div
        h2 鐘點戰
        p
          span.badge.badge-primary #合作
          span.badge.badge-primary #揮汗
          span.badge.badge-primary #Time is Money
        p 想體會大學的「跑班式教學」嗎？老是待在自己教室多無趣，「鐘點戰」會讓你離開教室座位，跑起來。時間就是金錢，為了認識別班的、別系的帥哥美女，跑到死小編也願意。2018清大工程領袖營給你這個機會，跟一旁似曾相識或素未眸面的俊男美女一起來一場「與時間的追逐大戰」。
    section.section-fluid.md-h-450
      .big-image-right.pic-5
      div
        h2 金頭腦
        p
          span.badge.badge-primary #腦力激盪
          span.badge.badge-primary #挑戰
        p 全國最大的腦力激盪中心上線啦！去年小編去年不幸中途就折戟沉沙，經過人稱「大學精神時光屋」又稱「ㄆ一 ㄆ一 ㄊ一」一年的修行，誓言今年必將重返榮耀！如何利用自身常識結合營隊所學，循著提示推敲出正確解答，聰明的你們，準備好要迎接挑戰了嗎？
    section.section-fluid.md-h-450
      .big-image-left.pic-1
      div
        h2 制服趴
        p
          span.badge.badge-primary #青春
          span.badge.badge-primary #High
        p 當你為了煩惱而困惑，為了未來而忙碌，拖著疲憊的身軀不知去哪放鬆，帶著緊繃的精神不知去哪宣洩，那就來制服趴跟我們一起嗨吧！
        p 讓我們一起穿上代表我們青春的制服，互相展現我們的青春熱血，舞動起你的身體，一起創造一個最HIGH的夜晚吧！
