@import "./constant";

header.full {
  margin: 0;
  padding: 0;
  padding-top: 60vh;
  height: 100vh;
  // background-image: url("https://img1.wsimg.com/isteam/stock/107466/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

article {
  background-color: #fff;
  padding: 0;

  .section-fluid {
    margin: 0;
    padding: 0 !important;
    padding-left: 0 !important;

    padding-right: 0 !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
    > div {
      margin: 15px 0;
      padding: 0 15px;
      align-self: center;
      flex: 0 0 100%;
    }
  
    .big-image-left,
    .big-image-right {
      height: 250px;
      max-width: 100%;
      margin: 0;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  @media (min-width: 768px) {
    .section-fluid{
      > div {
        flex: 0 0 50%;
        max-width: $width-limit / 2;
      }
  
      .big-image-right {
        position: relative;
        left: 50%;
      }
  
      .big-image-right + div {
        position: relative;
        right: 50%;
      }
    }

    .section-fluid.md-h-400 {
      > .big-image-left,
      > .big-image-right {
        height: 400px;
      }
    }
    
    .section-fluid.md-h-450 {
      > .big-image-left,
      > .big-image-right {
        height: 450px;
      }
    }
    
  }
  
  @media (min-width: 1200px) {
    .section-fluid{
      .big-image-right {
        left: 50%;
      }
  
      .big-image-right + div {
        right: $width-limit / 2;
      }
    }
  }
}
