footer
  .subscribe.text-center.container-fluid.width-limit-1200
    .row.justify-content-center
      .col-12.col-lg-4
        h3 關注我們
        p
          a.btn.btn-secondary(href='https://www.facebook.com/2018ieemcamp/')
            i.fa.fa-facebook-official.pr-1(aria-hidden='true')
            | 2018 清大工程領袖營
      .col-12.col-lg-4
        h3 聯絡我們
        p
          | 您可以直接在
          a(href='https://www.facebook.com/2018ieemcamp/') 我們的Facebook粉絲專頁
          | 與我們聯繫，或是寄信至
          a(href='mailto:2018ieemcamp@gmail.com') 清大工程領袖營信箱
          | ，我們將在一日內回覆。
      .col-12.col-lg-4
        h3 報名
        p
          a.btn.btn-primary(href='/enrollment/') 瞭解報名方式
  .container-fluid.width-limit-1200
    .d-flex.flex-column.flex-lg-row.justify-content-lg-between
      .links.text-center.text-lg-left
        a.btn.btn-link(href='/') 首頁
        a.btn.btn-link(href='/enrollment/') 報名方式
        a.btn.btn-link(href='/contact_us/') 聯絡我們
        a.btn.btn-link(href='/transportation/') 交通方式
        a.btn.btn-link(href='/faq/') 常見問題
      .about.text-center.text-lg-right
        a.btn.btn-link(href='http://www.ie.nthu.edu.tw/') 國立清華大學工業工程與工程管理學系
