nav
  .width-limit-1200
    .logo
      a(href='/')
        i.logo-img
        | 清大工程領袖營
    .menu
      a.btn.btn-primary.btn-sm(href='https://www.facebook.com/2018ieemcamp/')
        i.fa.fa-facebook(aria-hidden='true')
      a.btn.btn-primary.btn-sm(href='/enrollment') 報名方式
